Temps/src/META-INF/wsdl/localhost_8080/TimeWS/TimeWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="afficher_heure_format" type="tns:afficher_heure_format"/>

<xs:element name="afficher_heure_formatResponse" type="tns:afficher_heure_formatResponse"/>

<xs:element name="decalageHoraire" type="tns:decalageHoraire"/>

<xs:element name="decalageHoraireResponse" type="tns:decalageHoraireResponse"/>

<xs:element name="temps_en_minutes" type="tns:temps_en_minutes"/>

<xs:element name="temps_en_minutesResponse" type="tns:temps_en_minutesResponse"/>

<xs:complexType name="decalageHoraire">
<xs:sequence>
<xs:element name="heure1" type="xs:int"/>
<xs:element name="minute1" type="xs:int"/>
<xs:element name="heure2" type="xs:int"/>
<xs:element name="minute2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="decalageHoraireResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temps_en_minutes">
<xs:sequence>
<xs:element name="heures" type="xs:int"/>
<xs:element name="minutes" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temps_en_minutesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afficher_heure_format">
<xs:sequence>
<xs:element name="heures" type="xs:int"/>
<xs:element name="minutes" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="afficher_heure_formatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>